.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.heading {
  font-weight: bold;
  @apply text-2xl;
}

.experiences-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.experience-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .experience-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1300px) {
  .experiences-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.textarea-wrapper {
  grid-column: span 2;
  position: relative;
}

.char-counter {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 12px;
  color: #888;
}
